
body{
   margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1522;
}
.heart{
  height: 70px;
  width: 70px;
  background-color: #f20044;
  position: relative;
  transform: rotate(-45deg);
  animation: heart 0.6s linear infinite;
  box-shadow: -10px 10px 90px  #f20044;
  
  
}
@keyframes heart {
  0%{
   transform: rotate(-45deg) scale(1.07);
  }
  80%{
   transform: rotate(-45deg) scale(1.0);
  }
  100%{
    transform: rotate(-45deg) scale(0.8);
  }
}
.heart:before{
  content: '';
  position: absolute;
  /*border: 2px solid white;*/
  background: #f20044;
  height: 70px;
  width: 70px;
  top: -50%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
 box-shadow: -10px -10px 90px  #f20044;
  
  
}
.heart::after{
  content: '';
  height: 70px;
  width: 70px;
  background: #f20044;
  /*border: 2px solid green;*/
  right: -50%;
  position: absolute;
  transform: rotate(90deg);
   border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 10px 20px 90px  #f20044;
  
}